<form method="post">
    {{#success}}
    <div class="alert alert-success" role="alert">
        Heslo bylo úspěšně změněno
    </div>
    {{/success}}
    <div class="form-group">
        <label for="passwordCurrent">Aktuální heslo</label>
        <input type="text" class="form-control" id="passwordCurrent" name="passwordCurrent" required>
        {{#errors.passwordCurrent}}<div class="d-block invalid-feedback">{{errors.passwordCurrent}}</div>{{/errors.passwordCurrent}}
    </div>
    <div class="form-group">
        <label for="password">Heslo</label>
        <input type="password" class="form-control" id="password" name="password" required>
        {{#errors.password}}<div class="d-block invalid-feedback">{{errors.password}}</div>{{/errors.password}}
    </div>
    <div class="form-group">
        <label for="passwordConfirm">Potvrdit heslo</label>
        <input type="passwordConfirm" class="form-control" id="passwordConfirm" name="passwordConfirm" required>
        {{#errors.passwordConfirm}}<div class="d-block invalid-feedback">{{errors.passwordConfirm}}</div>{{/errors.passwordConfirm}}
    </div>
    
    <button type="submit" class="btn btn-primary mt-3">Potvrdit</button>
    <hr/>
</form>