<form method="post">
    <div class="form-group">
        <label for="login">Login</label>
        <input type="text" class="form-control" id="login" name="login" value="{{staff.login}}" required>
        {{#errors.login}}<div class="d-block invalid-feedback">{{errors.login}}</div>{{/errors.login}}
    </div>
    <div class="form-group">
        <label for="password">Heslo</label>
        <input type="password" class="form-control" id="password" name="password" required>
        {{#errors.password}}<div class="d-block invalid-feedback">{{errors.password}}</div>{{/errors.password}}
    </div>
    <div class="form-group">
        <label for="passwordConfirm">Potvrdit heslo</label>
        <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" required>
        {{#errors.password}}<div class="d-block invalid-feedback">{{errors.password}}</div>{{/errors.password}}
    </div>
    <button type="submit" class="btn btn-primary mt-3">Vytvořit účet</button>
    <hr/>
    <p>Máš již účet? <a href="/">Přihlaš se</a>.</p>
</form>