<table class='table table-striped'>
    <tr>
        <th>Name</th>
        <th>Room</th>
        <th>Phone</th>
        <th>Position</th>
        <th>Permissions</th>
        <th>Actions</th>
    </tr>

    {{#staff}}
    <tr>
        <td>
            <a href='detail.php?employeeId={{employee_id}}'>{{name}} {{surname}}</a>
        </td>
        <td>{{roomname}}</td>
        <td>{{#phone}}{{phone}}{{/phone}}{{^phone}}&mdash;{{/phone}}</td>
        <td>{{#job}}{{job}}{{/job}}{{^job}}&mdash;{{/job}}</td>
        <td>{{#admin}}Admin{{/admin}}{{^admin}}&mdash;{{/admin}}</td>
        <td>
            <form action="update.php" method="get" style="display: inline-block">
                <input type="hidden" name="employeeId" value="{{employee_id}}">
                <input type="submit" value="Upravit" class="btn btn-info">
            </form>
            <form action="delete.php" method="post" style="display: inline-block">
                <input type="hidden" name="employeeId" value="{{employee_id}}">
                <input type="submit" value="Smazat" class="btn btn-danger" onclick="return confirm('Opravdu chcete smazat místnost?\nAkce je nevratná!');">
            </form>
        </td>
    </tr>
    {{/staff}}
    {{^staff}}
        <tr><td colspan="3">Databáze je prázdná</td></tr>
    {{/staff}}
 
</table>

<a href="create.php" class="btn btn-primary">Založit nového zaměstnance</a>